  <footer class="footer">
    <div class="footer--description">
      <p class="footer--title">Atelier Krouiñ</p>
      <p class="footer--description-text">L'espace créatif de Chloé : un peu de peinture, beaucoup de couture, énormément de DIY, toujours plus de passion et de partage. Bienvenue sur mon blog !</p>
      <nav>
        <ul class="menu--social-media-footer">
          <li class="menu--social-media-footer--item">
            <a href="https://instagram.com/atelierkrouin" aria-label="Instagram" target="_blank" title="Instagram - Nouvelle fenêtre" rel="noreferrer noopener" class="footer--link footer--link--social">
              <i aria-hidden="true" class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="menu--social-media-footer--item">
            <a href="https://www.pinterest.fr/atelierkrouin" aria-label="Pinterest" target="_blank" title="Pinterest - Nouvelle fenêtre" rel="noreferrer noopener" class="footer--link footer--link--social">
              <i aria-hidden="true" class="fab fa-pinterest"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer--projects">
      <h2 class="footer--subtitle">Autres projets</h2>
      <ul>
        <li>
          <a href="https://chloecorfmat.fr/" target="_blank" title="chloecorfmat.fr - Nouvelle fenêtre" rel="noreferrer noopener" class="footer--link">chloecorfmat.fr</a>
        </li>
        <li>
          <a href="https://chloecorfmat.me" target="_blank" title="CV - Nouvelle fenêtre" rel="noreferrer noopener" class="footer--link">CV</a>
        </li>
        <li>
          <a href="https://chloecorfmat.space/" target="_blank" title="chloecorfmat.space - Nouvelle fenêtre" rel="noreferrer noopener" class="footer--link">chloecorfmat.space</a>
        </li>
      </ul>
    </div>

    <div class="footer--contact">
      <h2 class="footer--subtitle">Contact</h2>
      <ul class="menu--contact">
        <li class="menu--contact--item">
          <i class="fa-icon fas fa-envelope"></i>
          <a href="mailto:chloe@chloecorfmat.fr" class="footer--link">chloe@chloecorfmat.fr</a>
        </li>
        <li class="menu--contact--item">
          <i class="fa-icon fas fa-map-marker-alt"></i> Nantes
        </li>
      </ul>
    </div>

    <div class="footer--legal-infos">
      <p class="footer--rights">© 2022 Chloé Corfmat - Tous droits réservés</p>
      <ul class="menu--legal-infos">
        <li class="menu--legal-infos--item">
          <a href="https://blog.atelierkrouin.fr/mentions-legales" class="footer--link">Mentions légales</a>
        </li>
      </ul>
    </div>
  </footer>
</body>
