<header class="header">
  <nav class="menu--navigation--nav">
    <ul class="menu--navigation">
      <li class="menu--navigation--item">
        <a href="https://blog.atelierkrouin.fr" class="header--link">Le blog</a>
      </li>
      <li class="menu--navigation--item">
        <a href="/" class="header--link">Mes liens favoris</a>
      </li>
    </ul>
  </nav>

  <a href="/" aria-current="page" class="logo-text nuxt-link-exact-active nuxt-link-active">Atelier Krouiñ</a>

  <nav class="menu--social-media--nav">
    <ul class="menu--social-media">
      <li class="menu--social-media--item">
        <a href="https://instagram.com/atelierkrouin" aria-label="Instagram" target="_blank" title="Instagram - Nouvelle fenêtre" rel="noreferrer noopener" class="header--link header--link--social">
          <i aria-hidden="true" class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="menu--social-media--item">
        <a href="https://www.pinterest.fr/atelierkrouin" aria-label="Pinterest" target="_blank" title="Pinterest - Nouvelle fenêtre" rel="noreferrer noopener" class="header--link header--link--social">
          <i aria-hidden="true" class="fab fa-pinterest"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
