{{ define "main" }}
    <div class="block">
        <h1>Mes liens favoris</h1>
    </div>

    <div class="block--container block--linktree">
        <div class="block">
          <h2>Atelier Krouiñ</h2>
          <p>Atelier Krouiñ est le blog de Chloé Corfmat.</p>
          <a href="https://blog.atelierkrouin.fr" class="btn--secondary btn--container tag tag--primary">Le blog Atelier Krouiñ</a>
          <a href="/articles" class="btn--secondary btn--container tag tag--primary">La newsletter</a>
        </div>

        <div class="block">
          <h2>J'ai parlé d'eux</h2>
          <p>Retrouvez ci-dessous les liens vers mes ressources favorites.</p>
          <a href="/articles" target="_blank" class="btn--secondary btn--container tag tag--primary">Artesane</a>
          <a href="/articles" target="_blank" class="btn--secondary btn--container tag tag--primary">Blossom Quilt & Craft</a>

        </div>
    </div>
{{ end }}
