{{ define "main" }}
    <div class="block">
        <h1>Mes liens favoris</h1>
    </div>

    <div class="block--container block--linktree">
      {{ $dataJ := getJSON "https://strapi.atelierkrouin.fr/linktree"}}

      {{/* {{ printf "%#v" $dataJ}} */}}

      {{ range $dataJ.linktree_category }}
        <div class="block">
          <h2>{{.category}}</h2>

          {{ if .description }}
            {{ .description | safeHTML }}
          {{ end }}

          {{ range .linktree_link }}
            {{ if .external }}
              <a href="{{ .url }}" title="{{ .text }} - Nouvelle fenêtre" target="_blank" rel="noreferrer noopener" class="btn--secondary btn--container tag tag--primary">{{ .text }}</a>
            {{ else }}
              <a href="{{ .url }}" class="btn--secondary btn--container tag tag--primary">{{ .text }}</a>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </div>
{{ end }}
